title Covid Store
link(rel='stylesheet', href='/css/nav.css')
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
style.
  
  #head {
   			color: orange;
   			text-align: center;
   		}
  
button#myBtn(onclick='topFunction()', title='Go to top') Top
//  ---------Nav bar------- 
.top-nav-bar.navbar.navbar-expand-lg
  a(href='/')
    img.logo(src='/images/logo.png', alt)
  .search-box
    input.search-form-control(type='text')
    span.input-group-text
      i.fa.fa-search Search
.container
  .bg-light
    h1#head Customer Details List
  .row
    .col-md-2
      div(class="side-bar")
        form(action="/details")
          button(class="btn btn-secondary btn-block") purchase Details
      div(class="side-bar")
        form(action="/register")
          button(class="btn btn-secondary btn-block") Register Sales Agent
      div(class="side-bar")
        form(action="/addItem")
          button(class="btn btn-secondary btn-block") Add Product
      div(class="side-bar")
        form(action="/addItem/productlists" type="submit")
          button(class="btn btn-secondary btn-block") Product List
      div(class="side-bar")
        form(action="/register/agents" type="submit")
          button(class="btn btn-secondary btn-block") Agents List
      div(class="side-bar")
        form(action="/details/customerlists" type="submit")
          button(class="btn btn-secondary btn-block") Customers List
 
    .col-md
        table.table
            thead.thead-light
                tr
                    
                    th(scope='col') Name
                    th(scope='col') Phone No.
                    th(scope='col') Items
                    th(scope='col') Price
                    th(scope='col') Paid
                    th(scope='col') Balance
                    th(scope='col') Ref Number 
                    th
                    th
            tbody
                each customerlist in customerlists
                    tr
                        
                        td #{customerlist.cName}
                        td #{customerlist.phone}
                        td #{customerlist.itemName}
                        td #{customerlist.price}
                        td #{customerlist.initialPay}
                        td #{(customerlist.price) - (customerlist.initialPay)}
                        td #{customerlist.refNumber}
                        td 
                          form(method="get" action='/details/balance/'+customerlist._id)
                            //- input(type="hidden", placeholder="", name="id", value=productlist._id)
                            button.btn.btn-dark.btn-block(type="submit") Pay Balance                        
                        td 
                            form(method="post" action='/details/delete')
                                input(type="hidden", placeholder="", name="id", value=customerlist._id)
                                button.btn.btn-dark.btn-block(type="submit") Delete
                        

section.footer
  .container.tex-center
    .row
      .col-md-3
        h1 Useful Links
        p Privacy Policy
        p Terms of use
        p Return Policy
        p Discount Coupons
      .col-md-3
        h1 Company
        p About US
        p Contact Us
        p Career
        p Affiliate
      .col-md-3
        h1 Follow Us On
        p
          i.fa.fa-facebook-official
          |  Facebook
        p
          i.fa.fa-youtube-play
          |  Youtube
        p
          i.fa.fa-linkedin
          |  Linkedin
        p
          i.fa.fa-twitter
          |  Twitter
      .col-md-3.footer-image
        h1 Download App
        img(src='/images/app.png', alt)
    hr
    p.copyright
      | Made by 
      i.fa.fa-heart-o 
      | Joshua Makula &copy; 2020

script(src='bootstrap/js/bootstrap.js')
script(src='bootstrap/js/jquery-3.5.1.slim.min.js')
script(src='bootstrap/js/popper.min.js')
script(src='/js/scrolltotop.js')
script(src='/js/navnfooter.js')