title Covid Store
link(rel='stylesheet', href='/css/nav.css')
link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
style.
  
  #head {
   			color: orange;
   			text-align: center;
   		}
  
button#myBtn(onclick='topFunction()', title='Go to top') Top
//  ---------Nav bar------- 
.top-nav-bar.navbar.navbar-expand-lg
  a(href='/')
    img.logo(src='/images/logo.png', alt)
  .search-box
    input.search-form-control(type='text')
    span.input-group-text
      i.fa.fa-search Search
.container
  .bg-light
    h1#head Covid Stores Product List
  .row
    .col-md-2
      div(class="side-bar")
        form(action="/details")
          button(class="btn btn-secondary btn-block") purchase Details
      div(class="side-bar")
        form(action="/register")
          button(class="btn btn-secondary btn-block") Register Sales Agent
      div(class="side-bar")
        form(action="/addItem")
          button(class="btn btn-secondary btn-block") Add Product
      div(class="side-bar")
        form(action="/addItem/productlists" type="submit")
          button(class="btn btn-secondary btn-block") Product List
      div(class="side-bar")
        form(action="/register/agents" type="submit")
          button(class="btn btn-secondary btn-block") Agents List
      div(class="side-bar")
        form(action="/details/customerlists" type="submit")
          button(class="btn btn-secondary btn-block") Customers List
   
    .col-md-2
        
        table.table
            thead.thead-light
                tr
                    
                    th(scope='col') Item Name
                    th(scope='col') Make
                    th(scope='col') Category
                    th(scope='col') Serial Number
                    th(scope='col') Price                        
                    th(scope='col') Item Color
                    th(scope='col') Itemms in Stock
                    th(scope='col') Photo
                    th(colspan="3")
                      form.search(action='/addItem/itemSearch')
                        div.form-row
                            div.col-md-8
                                input.form-control(name='itemName' placeholder="Search itemName")
                            div.col-md-4
                                button.btn.btn-dark.btn-block(type="submit") Search
                    
            tbody
                each productlist in productlists
                
                    tr
                        
                        td #{productlist.itemName}
                        td #{productlist.itemMake}
                        td #{productlist.category}
                        td #{productlist.serialNumber}
                        td #{productlist.price}
                        td #{productlist.itemColor}
                        td #{productlist.numStock}
                        td 
                          img(src=productlist.itemPhoto, alt="", srcset="" width="100")
                        td
                          form(method="get" action='/addItem/sale/'+productlist._id)                            
                            button.btn.btn-dark.btn-block(type="submit") Sell
                        td 
                          form(method="get" action='/addItem/productUpdate/'+productlist._id)
                            //- input(type="hidden", placeholder="", name="id", value=productlist._id)
                            button.btn.btn-dark.btn-block(type="submit") Update
                        td 
                          form(method="post" action='/addItem/delete')
                            input(type="hidden", placeholder="", name="id", value=productlist._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete


section.footer
  .container.tex-center
    .row
      .col-md-3
        h1 Useful Links
        p Privacy Policy
        p Terms of use
        p Return Policy
        p Discount Coupons
      .col-md-3
        h1 Company
        p About US
        p Contact Us
        p Career
        p Affiliate
      .col-md-3
        h1 Follow Us On
        p
          i.fa.fa-facebook-official
          |  Facebook
        p
          i.fa.fa-youtube-play
          |  Youtube
        p
          i.fa.fa-linkedin
          |  Linkedin
        p
          i.fa.fa-twitter
          |  Twitter
      .col-md-3.footer-image
        h1 Download App
        img(src='/images/app.png', alt)
    hr
    p.copyright
      | Made by 
      i.fa.fa-heart-o 
      | Joshua Makula &copy; 2020

script(src='bootstrap/js/bootstrap.js')
script(src='bootstrap/js/jquery-3.5.1.slim.min.js')
script(src='bootstrap/js/popper.min.js')
script(src='/js/scrolltotop.js')
script(src='/js/navnfooter.js')